body {
  font-family:      Verdana, Geneva, Arial, sans-serif;
  font-size:        medium;
  margin-top:       5%;
  margin-bottom:    5%;
  margin-left:      10%;
  margin-right:     10%;
  padding:          10px 10px 10px 10px;
}

.phraseInput {
  width: 700px;
}

.blueKeyword {
	color: #0069d9;
}