{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>
<br>
<form method='POST' action='/predict'>
	<p>Input the sentence that you want to know the category</p>
	<div class="form-group">
    	<strong class="blueKeyword">Sentence</strong>
    	<input name="phrase" class="form-control phraseInput" placeholder="カテゴリーを判別するテキスト（メールタイトルなど）を入力" required>
  	</div>
  	<br>
	<p>After you've inputted the sentence above, click this button</p>
	<input class="btn btn-primary" value='Predict Category' type='SUBMIT'>
</form>

{% endblock %}
